In [ ]:
import pandas as pd #for handling data as data free
import numpy as np #for using array
from sklearn.linear_model import LinearRegression #Model for ML
from sklearn.metrics import r2_score #Todetermine accuracy of model
from sklearn.model_selection import train_test_split #Splitting training and test sets
import matplotlib.pyplot as plt #for data visualisation

data = pd.read_csv('/Real estate.csv')

In [ ]:
data = pd.read_csv('/Real estate.csv')
data.head()

,No,X2_house age,X3_distance to the nearest MRT station,X4_number of convenience stores,X5_latitude,X6_longitude,Y_house price of unit area
0,1,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,5.0,390.56840,5,24.97937,121.54245,43.1

In [ ]:
print(data.shape)

(414, 7)

In [ ]:
data = data.drop(columns = 'No')

In [ ]:
data.head()

,X2_house age,X3_distance to the nearest MRT station,X4_number of convenience stores,X5_latitude,X6_longitude,Y_house price of unit area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [ ]:
x = data.drop(columns = 'Y_house price of unit area')
y = data['Y_house price of unit area']

In [ ]:
x.head()

,X2_house age,X3_distance to the nearest MRT station,X4_number of convenience stores,X5_latitude,X6_longitude
0,32.0,84.87882,10,24.98298,121.54024
1,19.5,306.59470,9,24.98034,121.53951
2,13.3,561.98450,5,24.98746,121.54391
3,13.3,561.98450,5,24.98746,121.54391
4,5.0,390.56840,5,24.97937,121.54245

In [ ]:
model = LinearRegression()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 1)

In [ ]:
model.fit(x_train, y_train)

LinearRegression()

In [ ]:
y_predict = model.predict(x_test)
print(y_predict)

[32.8437767  47.56101273 23.17886484 15.09828378 44.26211594 32.95347245
 30.84818564 44.37992909 39.44957379 12.20714107 13.72252023 38.66414079
 30.698428   45.43304613 52.19532146 33.61829886 44.26211594 43.08080094
 31.13517793 46.10609663 52.27025625 29.64604411 40.26946944 48.77519652
 46.08745018 28.71507026 33.78364296 45.14550741 47.88009342 14.49544621
 35.65698532 34.70756093 40.49032967 45.25005774 48.35943494 14.14430663
 40.65785832 40.33400387 38.56668729 15.01987102 41.48038538 24.75178728]

In [ ]:
print(r2_score(y_test, y_predict))

0.7692436778698418

# New Section